body {
    background-color: rgb(112, 1, 1); 
}
img {
    height: auto;
    width: 800px;
}
h2,
h1 {
    text-align: center;
    background-color: red;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a,
p,
h2,
ul,
ol,
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: white;
}

ul,
ol,
a,
p {
    font-size: 18px;
}